.bgContainer{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.itemContainer{
  background-color: lightgray;
  
}

.imageSize{
  width: 50%;
  height: 50% ;
}

.listItems{
  list-style: none;
  padding: 0px;
}

.userIcon{
  color: #ffbf74;
}

li{
  font-size: 1.5rem;
}

.starIcon{
  color: #ffd700;
}

.forkIcon{
  color: #81c3f5;
}

.issueIcon{
  color: #f18a93;
}

i{
  margin-right: 1rem;
}

@media screen and (min-width:992px) {
  .itemContainer{
    max-width: 24.3%;
  }
}